  <!doctype html>
  <html ng-app>
    <head>
      <meta charset="utf-8">
      <title><%= title %></title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel="stylesheet" href="/stylesheets/app.css">
      <link rel="stylesheet" href="/stylesheets/bootstrap2.css">
        
      <script src="/lib/angular.js"></script>
      <script src="/js/controllers.js"></script>
    </head>
    <body ng-controller="ProductListCtrl">
      
      <div class="container-fluid">
        <div class="row-fluid">

          <div class="span2">
            <!--Sidebar content-->
            <h1>Search: </h1><input ng-model="query"/>
            <h1><a href="/admin/products/update">+</a></h1>
          </div>

          <div class="span10">
            <ul class="phones">
              <li ng-repeat="product in products | filter:query" class="thumbnail">
                <div  class="thumb">
                  <a href="#/products/{{product.name}}"><img ng-src="{{product.image}}"></a>
                  <a href="#"><img src="/images/delete.png" height="25px" width="25px" align="left"  ng-click="deleteProduct(product.name)" /></a>
                </div>  
                <h1><a href="#/products/{{product.name}}">{{product.name}}</a></h1>
                <div >{{product.description}}</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      {{out}}
    </body>

</html>
